<div class="volunteer">
    <div class="volunteer__visore" style="background-image: url('http://assets.yeticycles.com/images/feature/excursions/northeast-fall/201710_Northeast_Fall_135-desktop@2x.jpg')"></div>
</div>