<div class="menu-box">
    <div class="menu-box__title">
        {{{title}}}
    </div>
    <div class="menu-box__text">
        {{{text}}}
    </div>
    <div class="menu-box__cta">
        <p>scopri di più</p>
    </div>
</div>