<div class="menu-box">
    <div class="menu-box__title">
        Around<br>
        The<br>
        Wod
    </div>
    <div class="menu-box__text">
        per sportivi che viaggiano
        e vogliono entrare in contatto
        con la cultura locale
    </div>
    <div class="menu-box__cta">
        <p>scopri di più</p>
    </div>
</div>