<wod-menu class="menu-ctr {{__pagename__}}">
    <div class="nav-trigger">
        <div id="nav-trigger__button" class="nav-trigger__button">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="menu">

        <ul class="menu__upper">
            <li  class="menu__item ">

                <a href="/">
                    ATW
                </a>
            </li>
            <li class="menu__item">

                <a href="/gruppi">
                    ATF
                </a>
            </li>
            <li class="menu__item">
                <a href="/who-we-are">
                    VOLUNTEER
                </a>
            </li>
            <li class="menu__item">
                <a href="/who-we-are">
                    CHI SIAMO
                </a>
            </li>
        </ul>
        <menu-boxes class="menu-boxes-ctr">
            <div class="menu-boxes-wrapper">
                {{#each menuBoxes}}
                    {{> menu-box this}}
                {{/each}}

            </div>

        </menu-boxes>
    </div>
</wod-menu>
