<div class="thumbnail">
    <div class="thumbnail__category">
        <p>article</p>
    </div>
    <div class="thumbnail__text">
        <p>Lorem ipsum

            dolor sit

            amet

            consectetur

            adipiscing elit</p>
    </div>
    <div class="thumbnail__bottom">
        <p>1gg fa</p>
    </div>
</div>