<wod-slider>
    <div class="wod-slider-zoom">
        <div class="swiper-container">

            <div class="swiper-wrapper">

                {{>wod-slide}}
                {{>wod-slide}}
                {{>wod-slide}}
                {{>wod-slide}}
                {{>wod-slide}}
            </div>


        </div>
    </div>

    <div class="swiper-pagination"></div>
</wod-slider>