<wod-slider>
    <div class="wod-slide" style="background-image: url('http://assets.yeticycles.com/images/feature/excursions/northeast-fall/201710_Northeast_Fall_135-desktop@2x.jpg')">
        <div class="wod-slide-cnt">
            <div class="wod-slide__title">Volunteer</div>
            <div class="wod-slide__text">
                progetto di promozione e sviluppo
                di attività di functional training in paesi del terzo mondo
            </div>
            <div class="wod-slide__cta">
                <a href="/projects/volunteer">scopri di più</a>
            </div>
        </div>
    </div>
</wod-slider>